.button
{
    font-family:   Inter;
    font-size:     11px;
    width:         30;
    height:        30;
    background:    white;
    min-width:     0;
    min-height:    0;
    border:        none;
    border-radius: 2px;
    position:      relative;
    padding:       0;
}


.button:hover
{
    background: #f0f0f0;
}


.button:active
{
    box-shadow: 0 0 0 2px var(--rgbActiveObject) inset;
    outline:    none;
}