.dialogButtonClose
{
    width:      32px;
    height:     32px;
    position:   absolute;
    left:       calc(100% - 36px);
    top:        4px;
}


.dialogButtonClose:active
{
    box-shadow: none;
}


#productKeyBack
{
    display:          none;

    z-index:          10;
    
    position:         fixed;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    overflow:         auto;

    background-color: #0005
}


#productKeyDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       20;
    position:      absolute;
    top:           50%;
    left:          50%;
    transform:     translateX(-50%)
                   translateY(-50%);

    width:         250px;
    height:        250px;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border:        0.5px solid rgba(0, 0, 0, 0.2);

    border-radius: 4px;

    overflow:      hidden;
}


.figma-light #productKeyDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #productKeyDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#productKeyTitle
{
    height:         40px;
    border-bottom:  1px solid rgb(0, 0, 0, 0.15);
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
}


#productKeyTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);

    pointer-events: none;
    user-select:    none;
}


#productKeyUserName
{
    font-size:      11px;
    font-weight:    bold;

    margin-top:     16px;
    margin-bottom:  3px;

    padding-bottom: 5px;

    position:       absolute;
    left:           50%;
    top:            70px;
    transform:      translateX(-50%);
    border-bottom:  1px solid var(--figma-color-bg-disabled);
    width:          240;

    overflow:       hidden;

    user-select:    text;

    /* box-shadow:  0 0 0 1px red inset; */
}


#productKeyUserId
{
    font-size:      11px;
    text-align:     center;

    margin-top:     0px;
    margin-bottom:  12px;

    position:       absolute;
    
    left:           50%;
    transform:      translateX(-50%);

    top:            70px;

    width:          180px;

    user-select:    text;

    overflow:       visible;

    /* box-shadow:  0 0 0 1px green inset; */
}


#productKeyTextBack
{
    display:        none;
    
    position:       absolute;
    left:           50%;
    top:            113px;
    width:          138px;
    height:         25px;

    transform:      translateX(-50%);

    z-index:        0;

    pointer-events: none;

    border-bottom:  1px solid var(--figma-color-bg-tertiary);

    /* box-shadow:  0 0 0 1px red inset; */
}



#productKeyInputBack
{
    font-family:   'Roboto Mono';
    font-size:      16px;
    color:          var(--figma-color-bg-disabled);
    letter-spacing: 1px;
    
    width:          10em;
    padding-left:   3px;
    padding-top:    -2px;
    padding-bottom:  2px;

    position:       absolute;
    left:           calc(calc(50% - 4.5em) + 1px);
    top:            115px;

    z-index:        1;

    pointer-events: none;

    /* box-shadow:  0 0 0 1px red inset; */
}



#productKeyInput
{
    font-family:   'Roboto Mono';
    font-size:      16px;
    letter-spacing:  1px;
     
    width:          calc(10em + 2px);
    height:         24px;
    padding-left:   13px;
    padding-top:    -2px;
    padding-bottom:  2px;

    margin-bottom:  -3px;

    background:     transparent;

    position:       absolute;
    left:           calc(50%);
    top:            114px;

    transform:      translateX(-50%);
}


#licenseInfo
{
    font-family:   'Inter';
    font-size:      11px;
    font-weight:    300;

    width:          max-content;
    height:         24px;
    padding-top:    4px;
    padding-bottom: 0;

    margin-bottom:  -3px;

    background:     transparent;

    position:       absolute;
    left:           calc(50%);
    transform:      translateX(-50%);
    top:            86px;


    pointer-events: none;

    text-align:     center;

    /* box-shadow:     0 0 0 1px red inset; */
}


#productKeyInput:disabled
{
    color: var(--figma-color-bg-disabled);
}


#validateProductKeyButton
{
    width:          138px;

    position:       absolute;
    left:           50%;
    transform:      translateX(-50%);

    top:            147px;
}



#subscribeWebsite
{
    font-size:      11px;
    text-align:     center;

    margin-top:     16px;
    margin-bottom:   8px;

    position:       absolute;
    left:           50%;
    top:            200px;
    transform:      translateX(-50%);

    color:          var(--figma-color-bg-disabled);
}


#deleteConnectionsDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       2;
    position:      absolute;
    width:         400px;
    height:        92px;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border-radius: 4px;
}


.figma-light #deleteConnectionsDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #deleteConnectionsDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#deleteConnectionsTitle
{
    height:         40px;
    font-weight:    900;
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
}


#deleteConnectionsTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);
}


#deleteConnectionsLabel
{
    font-size:      11px;

    margin-top:     16px;
    margin-bottom:  12px;

    position:       relative;
    left:           17px;

    user-select:    text;
}


#deleteConnectionsInputBack
{
    font-size:       11px;
    color:           var(--figma-color-bg-disabled);
      
    width:           266px;
    height:          20px;
 
    padding-top:     6px;
    padding-bottom: -6px;

    margin-top:      12px;
    margin-bottom:  -3px;

    position:        absolute;
    left:            18px;
}


#deleteConnectionsInput
{
    background:     transparent;
    font-size:      11px;
      
    width:          278px;
    height:         26px;
 
    padding-left:   6px;
    padding-right:  6px;
    padding-top:   -2px;
    padding-bottom: 2px;

    margin-top:     12px;
    margin-bottom: -3px;

    position:       absolute;
    left:           12px;
}


#deleteConnectionsButton
{
    width:          60px;

    position:       absolute;
    right:          12px;
    transform:      translateY(-2px);

    margin-top:     12px;
}


#minZoomDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       2;
    position:      absolute;
    width:         200px;
    height:        92px;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border-radius: 4px;
}


.figma-light #minZoomDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #minZoomDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#minZoomTitle
{
    height:         40px;
    font-weight:    900;
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
}


#minZoomTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);
}


#minZoomInput
{
    background:     transparent;
    font-size:      11px;
      
    width:          176px;
    height:         26px;
 
    padding-left:   6px;
    padding-right:  6px;
    padding-top:   -2px;
    padding-bottom: 2px;

    margin-top:     12px;
    margin-bottom: -3px;

    position:       absolute;
    left:           12px;
}


#whatsNewBack
{
    display:          none;

    z-index:          1;
    
    position:         fixed;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    overflow:         auto;
    pointer-events:   all;

    background-color: #0005;
}



#whatsNewDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       2;
    position:      absolute;
    top:           58px;
    left:          calc(50%);
    transform:     translateX(-50%);
    width:         600px;
    height:        calc(100% - 80px);

    overflow:      hidden;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border:        0.5px solid rgba(0, 0, 0, 0.2);

    border-radius: 4px;
}


#whatsNewDialogContainer
{
    height:   calc(100% - 42px);
    overflow: hidden;
    padding:  0;
    z-index:  1;
    /* box-shadow: 0 0 0 1px red inset; */
}


#whatsNewDialogContent
{
    font-size:      12px;
    margin:         0;
    padding:        1px 0 5px 0;
    position:       absolute;
    pointer-events: all;
    user-select:    text;
    /* box-shadow:  0 0 0 1px blue inset; */
}


.figma-light #whatsNewDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #whatsNewDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#whatsNewWatermark
{
    position:       absolute;
    left:           50%;
    top:            50%;
    transform:      translateX(-41%)
                    translateY(-34%);
    font-size:      800px;
    font-weight:    600;
    white-space:    nowrap;
    color:          var(--figma-color-bg-secondary);
    z-index:        -1;
    user-select:    none;
    pointer-events: none;
}



#whatsNewTitle
{
    position:       relative;
    height:         40px;
    border-bottom:  1px solid rgb(0, 0, 0, 0.15);
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
    background:     var(--figma-color-bg);
    z-index:        10;
}


#whatsNewTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);

    pointer-events: none;
    user-select:    none;
}


#whatsNewBody
{
    margin:  0 30px 0 30px;
}



#chkHideWhatsNew
{
    display:  inline-block;
}



#whatsNewScrollbarY
{
    width:   6px;
    z-index: 1;
    margin:  6px 0 18px 0;
    display: none;
}



#eulaBack
{
    display:          none;

    
    position:         fixed;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    overflow:         auto;
    z-index:          100;
    pointer-events:   all;

    background-color: #0005;
}



#eulaDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       200;
    position:      absolute;
    top:           58px;
    left:          calc(50%);
    transform:     translateX(-50%);
    width:         540px;
    height:        calc(100% - 80px);

    overflow:      hidden;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border:        0.5px solid rgba(0, 0, 0, 0.2);

    border-radius: 4px;
}


#eulaDialogContainer
{
    height:   calc(100% - 42px);
    overflow: hidden;
    padding:  0;
    z-index:  1;
    /* box-shadow: 0 0 0 1px red inset; */
}


#eulaDialogContent
{
    font-size:      12px;
    margin:         0;
    padding:        1px 0 5px 0;
    position:       absolute;
    pointer-events: all;
    user-select:    text;
    /* box-shadow:  0 0 0 1px blue inset; */
}


.figma-light #eulaDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #eulaDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#eulaWatermark
{
    position:       absolute;
    left:           50%;
    top:            50%;
    transform:      translateX(-41%)
                    translateY(-34%);
    font-size:      800px;
    font-weight:    600;
    white-space:    nowrap;
    color:          var(--figma-color-bg-secondary);
    z-index:        -1;
    user-select:    none;
    pointer-events: none;
}



#eulaTitle
{
    position:       relative;
    height:         40px;
    border-bottom:  1px solid rgb(0, 0, 0, 0.15);
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
    background:     var(--figma-color-bg);
    z-index:        10;
}


#eulaTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);

    pointer-events: none;
    user-select:    none;
}


#eulaBody
{
    margin:      25px 60px 0 60px;
    font-weight: 200;
}


.figma-dark  #eulaBody { font-weight: 200; }
.figma-light #eulaBody { font-weight: 400; }


#eulaBody ol
{
    margin-left:   16px;
    margin-top:    30px;
    margin-bottom: 30px;
    padding-left:  0;
}

#eulaBody li
{
    margin-bottom: 10px;
}

#eulaBody li::marker
{
    content: counter(list-item) ".  ";
}

.figma-light #eulaBody .bold { font-weight: 700; }
.figma-dark  #eulaBody .bold { font-weight: 500; }



#eulaScrollbarY
{
    width:   6px;
    z-index: 300;
    margin:  6px 0 18px 0;
    display: none;
}

.figma-light #eulaScrollbarY { background: #0002; }
.figma-dark  #eulaScrollbarY { background: #fff2; }



#aboutBack
{
    display:          none;

    z-index:          10;
    
    position:         fixed;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    overflow:         auto;
    pointer-events:   all;

    background-color: #0005;
}



#aboutDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       20;
    position:      absolute;
    top:           50%;
    left:          50%;
    transform:     translateX(-50%)
                   translateY(-50%);
    width:         280px;
    height:        118px;

    overflow:      hidden;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border:        0.5px solid rgba(0, 0, 0, 0.2);

    border-radius: 4px;
}


#aboutDialogContainer
{
    height:   calc(100% - 22px);
    overflow: hidden;
    padding:  0;
    z-index:  1;
    /* box-shadow: 0 0 0 1px red inset; */
}


#aboutDialogContent
{
    font-size: 12px;
    margin:    0;
    padding:   1px 0 5px 0;
    position:  absolute;
    pointer-events: all;
    user-select: text;
    /* box-shadow: 0 0 0 1px blue inset; */
}


.figma-light #aboutDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #aboutDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#aboutTitle
{
    position:       relative;
    height:         40px;
    border-bottom:  1px solid rgb(0, 0, 0, 0.15);
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
    background:     var(--figma-color-bg);
    z-index:        10;
}


#aboutTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);

    pointer-events: none;
    user-select:    none;
}


#aboutDialogBody
{
    padding-left: 30px;
    width:        250px;
    /* box-shadow:   0 0 0 1px inset yellow; */
}


#chkAboutHideWhatsNew
{
    display:  inline-block;
}


#aboutBrainshiftLogo
{
    display:   none;
    position:  absolute;
    left:      97px;
    top:       82px;
}


#aboutGeneratorLogo
{
    position: absolute;
    left:     30px;
    top:      25px;
}


#aboutLine
{
    position: absolute;
    left:     18px;
    top:      132px;
}


#aboutVersion
{
    font-weight: 300;
    font-size:   11px;
    display:     inline;
    position:    absolute;
    left:        100px;
    top:         21px;
}


#aboutCopyright
{
    font-weight: 300;
    font-size:   11px;
    display:     inline-block;
    width:       max-content;
    position:    absolute;
    left:        99px;
    top:         40px;
}


#crashBack
{
    display:          none;

    z-index:          10;
    
    position:         fixed;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    overflow:         auto;
    pointer-events:   all;

    background-color: #0005;
}



#crashDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       20;
    position:      absolute;
    top:           50%;
    left:          50%;
    transform:     translateX(-50%)
                   translateY(-50%);
    width:         440px;
    height:        300px;

    overflow:      hidden;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border:        0.5px solid rgba(0, 0, 0, 0.2);

    border-radius: 4px;

    /* -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto; */
}


#crashDialogContainer
{
    height:   calc(100% - 42px);
    overflow: hidden;
    padding:  0;
    z-index:  1;
    /* box-shadow: 0 0 0 1px red inset; */
}


#crashDialogContent
{
    font-size:      12px;
    margin:         0;
    padding:        1px 0 5px 0;
    position:       absolute;
    pointer-events: all;
    user-select:    text;
    width:          100%;
    /* box-shadow:     0 0 0 1px blue inset; */
}


.figma-light #crashDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #crashDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#crashTitle
{
    font-size:     14px;
    font-weight:   500;
    margin-top:    20px;
    margin-bottom: 27px;
}


#crashDetails
{
    /* font-weight: bold; */
    height:        165px;
    margin-bottom: 30px;
    position:      relative;
    left:          1px;
    overflow-y:    scroll;
    /* box-shadow:    0 0 0 1px red inset; */
}


#crashDetails::-webkit-scrollbar
{
    background: transparent;
    width:      6px;
}


#crashDetails::-webkit-scrollbar-track
{
    margin: 6px 6px 6px 0;
}


#crashDetails::-webkit-scrollbar-thumb
{
    border-radius: 4px;
}


.figma-dark #crashDetails::-webkit-scrollbar-thumb
{ 
    background:    #fff4;
    /* background-color: #0006;
    box-shadow:       0 0 0 1px rgba(255, 255, 255, 0.25);  */
}


.figma-light #crashDetails::-webkit-scrollbar-thumb
{ 
    background-color: #0004;
    box-shadow:       0 0 0 1px rgba(255, 255, 255, 0.25); 
}    


#crashDialogBody
{
    margin: 0 25px 0 25px;
}


#btnCrashRestart
{
    position: absolute;
    right:    24px;
    bottom:   21px;
}


#debugInfo
{
    color:            var(--figma-color-text);
    position:         absolute;
    left:             0;
    top:              40px;
    width:            100%; 
    height:           calc(100% - 40px);
    z-index:          100000;
    /* background-color: blue; */
    pointer-events:   none;
}


#btnStartTrial
{
    width:       120px;
    height:      14px;
    user-select: none;
    margin:      45px auto 42px auto;
    position:    relative;
    left:        -5px;
    background:  transparent;
}


.figma-light #btnStartTrial { font-weight: 600; }
.figma-dark  #btnStartTrial { font-weight: 300; }