.node
{
    display:       block;
    position:      absolute;
    width:         100px;
    height:        auto;
    border-radius: 4px 4px 0 0;
    padding: 0;
}

.nodeInner:hover
{
    box-shadow: 0 0 0 1px #18A0FB;
}

.nodeInner
{
    display:       block;
    position:      relative;
    width:         100px;
    height:        auto;
    overflow:      hidden;
    border-radius: 4px 4px 0 0;
    padding: 0;
}    

.node .slider
{
    display: inline-block;
}

.nodeHeader
{
    background:  #BEDFFF;
    display:     flex;
    width:       100%;
}

.nodeLabel
{
    font-family: Inter;
    font-size:   11;
    padding:     3px 4px 0 0;
    display:     table-cell;
    width:       calc(100% - 2px);
    height:      20;
    color:       black;
    text-align:  center;
}


.inputControls
{
    width:      20px;
    height:     22px;
    display:    inline-block;
    text-align: center;
}


.outputControls
{
    width:      20px;
    height:     22px;
    display:    inline-block;
    text-align: center;
}


.input
{
    width:         10px;
    height:        10px;
    background:    white;
    border-radius: 5px;
    position:      relative;
    top:           6px;
    margin:        auto;
    box-shadow:    0 0 0 1px rgba(0, 0, 0, 0.12);
}

.input:hover
{
    box-shadow: 0 0 0 1px #18A0FB inset;
}

.output
{
    width:         10px;
    height:        10px;
    background:    white;
    border-radius: 5px;
    position:      relative;
    top:           6px;
    margin:        auto;
    box-shadow:    0 0 0 1px rgba(0, 0, 0, 0.12);
}

.output:hover
{
    box-shadow: 0 0 0 1px #18A0FB inset;
}

#wires
{
    left:           0;
    top:            0;
    pointer-events: none;
}