.menuButton
{
    font-family:     Inter;
    font-size:       11px;
    width:           40px;
    height:          40px;
    background:      #2c2c2c;
    border-radius:   0;
    min-width:       0;
    min-height:      0;
    border:          none;
    position:        relative;
    padding:         0;
    padding-top:     1px;
    padding-bottom: -1px;
    margin-right:   -4px;
    color:          #d5d5d5;
}


.menuButton:hover
{
    background: black;
    color:      white;
}


.menuButton:focus
{
    background: var(--activeObjectColor);
    color:      white;
}


#btnCreateNumber
{
    padding-left:  15px;
    padding-right: 35px;
}


#btnZoom
{
    position: absolute;
    padding-left:  15px;
    padding-right: 45px;
}


#btnToggleWires
{
    position: absolute;
    padding-left: 3px;
    padding-right: 30px;
    background: url('data:image/svg+xml;utf8,<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.65006 17.8918C15.4645 18.1216 13.0131 12.9935 10.1855 10.4007C7.35798 7.80786 4.94977 2.68156 17.7642 2.91138" stroke="white" stroke-width="1.5"/><circle cx="2.65005" cy="17.8918" r="2.25814" transform="rotate(2.45954 2.65005 17.8918)" fill="white"/><circle cx="17.7642" cy="2.91141" r="2.25814" transform="rotate(-177.54 17.7642 2.91141)" fill="white"/></svg>');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}