.slider
{
    padding:          0;
    width:            74px;
    height:           26px;
    /* box-shadow:       0 -2px 0 -1px rgba(0, 0, 0, 0.1) inset; */
    /* border-radius:    1px; */
    overflow:         hidden;
    background-color: white;
    text-align:       center;
}    

.sliderName
{
    color: #b3b3b3;
}

.sliderBar
{
    position:       absolute;
    pointer-events: none;
}

.sliderText
{
    font-family:    Inter;
    font-size:      11;
    pointer-events: none;
    position:       absolute;
    left:           50%;
    transform:      translateX(-50%);
    top:            3px;
}

.sliderFocus
{
    position:       absolute;
    pointer-events: none;
    box-shadow:     0 0 0 1px var(--activeObjectColor) inset;
    visibility:     hidden;
    opacity:        0;
}

/* .slider:hover
{
    box-shadow: 0 0 0 -1px rgba(0, 0, 0, 0.1);
}     */

/* .slider:focus
{
    outline:    none;
    box-sizing: border-box;
    border:     solid 2px var(--activeObjectColor);
    box-shadow: 0 0 0 -2px var(--activeObjectColor) inset;
}     */