.slider
{
    padding:          0;
    width:            74px;
    height:           26px;
    box-shadow:       0 -2px 0 -1px rgba(0, 0, 0, 0.1) inset;
    border-radius:    2px;
    overflow:         hidden;
    background-color: white;
    text-align:       center;
}    

.sliderBar
{
    position:       absolute;
    pointer-events: none;
}

.sliderText
{
    font-family:    Inter;
    font-size:      11;
    pointer-events: none;
    position:       relative;
    top:            3px;
}

.slider:hover
{
    box-shadow: 0 0 0 -1px rgba(0, 0, 0, 0.1);
}    

.slider:focus
{
    outline: none;
    box-shadow: 0 0 0 2px #18A0FB;
}    