input[type=text]
{
    font-size:     11;
    font-family:   Inter, sans-serif;
    padding-top:   1px; 
    height:        20px;
    line-height:   14px;
    border:        none;
    border-radius: 0.5px;
    cursor:        default;
}


input[type=text]:focus
{
    box-shadow: 0 0 0 1px var(--activeObjectColor) inset;
    outline:    none;
}


input[type=text]::selection
{
    background-color: var(--figma-color-bg-brand);
    color:            white;
}