:root
{
    --operatorSymbolSize: 26;
    --colorBackSize:      45px;
}


#_graphView
{
    display:    block;
    overflow:   hidden;
    height:     calc(100% - 40px);
    position:   relative;
    z-index:    2;
    box-shadow: 0 1px 0 0 inset #383838;
    /* box-shadow: 0 0 0 1px red inset; */
}


.wireContainer
{
    position:       absolute;
    width:          100%;
    height:         calc(100% - 1px);
    z-index:        1;
    pointer-events: none;
    overflow:       hidden;
}