:root
{
    --arithmeticSymbolSize: 26;
    --colorBackSize:        45px;
}


#graphView
{
    z-index:  0;
    overflow: hidden;
    /* box-shadow: 0 0 0 1px red inset;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 10 10'> <path d='M0 0 L0 10 L10 10' fill='red' /></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto; */
 }


#loadingOverlay
{
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    background: #e5e5e5;
    display:    none;
}


#loadingGraphic 
{
    font-family: Inter;
    font-size:   26;
    font-weight: 700;
    color:       #333;
    position:    absolute;
    left:        50%;
    top:         45%;
    transform:   translateX(-50%)
                 translateY(-50%);
}


#loadingEmpty
{
    font-size:   12;
    color:       #666;
    margin-right: 6px;
    position:     relative;
    top:          -4px;
}


#loadingFull
{
    font-size:   8;
    color:       #666;
    margin-left: 7px;
    position:     relative;
    top:          -6px;
}


#loadingBar
{
    position:      absolute;
    left:          50%;
    top:           50%;
    transform:     translateX(-50%)
                   translateY(-50%);
    width:         180px;
    height:        5px;   
    background:    white;
    border-radius: 2.5px;
    overflow:      hidden;
}


#loadingProgress
{
    position:      absolute;
    left:          0;
    top:           0;
    width:         0;
    height:        5px;   
    background:    #333;
}




.arithmeticSymbol
{
    font-family:    Inter;
    font-size:      20px;
    width:          auto;/*var(--arithmeticSymbolSize);*/
    height:         auto;/*var(--arithmeticSymbolSize);*/
    position:       absolute;
    left:           50%;
    transform:      translateX(-50%);
    /* pointer-events: none; */
    /* box-shadow:     0 0 0 1px red inset; */
}


.colorWarningOverlay
{
    width:            100%;
    height:           var(--colorBackSize);
    z-index:          10;
    position:         absolute;
    top:              0;
    pointer-events:   none;
}


.colorValueWarningOverlay
{
    width:            100%;
    z-index:          1000;
    position:         absolute;
    top:              var(--colorBackSize);
    pointer-events:   none;
}


.colorBack
{
    width:            100%;
    height:           var(--colorBackSize);
    z-index:          0;
    position:         absolute;
    top:              0;
    pointer-events:   none;
}
