.numberControl
{
    padding:          0;
    width:            74px;
    height:           20px;
    overflow:         hidden;
    background-color: var(--figma-color-bg);/*white;*/
    text-align:       center;
    touch-action:     none;
    /* box-shadow: 0 0 0 1px inset red;; */
}    


/* .figma-light .numberControlName
{
    color: #0006;
}


.figma-dark .numberControlName
{
    color: #fff6;
} */


.numberControlBar
{
    position:       absolute;
    pointer-events: none;
}


.numberControlText
{
    font-family:          Inter;
    font-size:            11;
    font-variant-numeric: tabular-nums;
    pointer-events:       none;
    letter-spacing:       -0.35px;
    position:             absolute;
    left:                 50%;
    transform:            translateX(-50%);
    top:                  3px;
    white-space:          nowrap;
}


.numberControlText .hash
{
    font-size: 6;
    position:  relative;
    top:      -2px;
}


.numberControlTextbox
{
    font-family:          Inter;
    font-size:            11;
    font-variant-numeric: tabular-nums;
    position:             absolute;
    left:                 50%;
    transform:            translateX(-50%);
    width:                100%;
    white-space:          nowrap;
    background-color:     transparent;
    z-index:              10;
}


.numberControlFocus
{
    position:       absolute;
    pointer-events: none;
    box-shadow:     0 0 0 1px var(--activeObjectColor) inset;
    visibility:     hidden;
    opacity:        0;
}


.numberControlRange
{
    display:        block;
    position:       absolute;
    pointer-events: none;
    z-index:        1000;
}
