.colorControl
{
    padding:          0;
    width:            74px;
    height:           26px;
    overflow:         hidden;
    background-color: var(--figma-color-bg);/*white;*/
    text-align:       center;
    touch-action:     none;
}    


.figma-light .colorControlName
{
    color: #0006;
}


.figma-dark .colorControlName
{
    color: #fff6;
}


.colorControlBar
{
    position:       absolute;
    pointer-events: none;
}


.colorControlText
{
    font-family:          Inter;
    font-size:            11;
    font-variant-numeric: tabular-nums;
    pointer-events:       none;
    letter-spacing:       -0.35px;
    position:             relative;
    left:                 50%;
    transform:            translateX(-50%);
    top:                  3px;
    white-space:          nowrap;
}


.colorControlText .hash
{
    font-size: 6;
    position:  relative;
    top:      -2px;
}


.colorControlTextbox
{
    font-family:          Inter;
    font-size:            11;
    font-variant-numeric: tabular-nums;
    position:             absolute;
    left:                 50%;
    transform:            translateX(-50%);
    width:                100%;
    white-space:          nowrap;
    background-color:     transparent;
}


.colorControlFocus
{
    position:       absolute;
    pointer-events: none;
    box-shadow:     0 0 0 1px var(--activeObjectColor) inset;
    visibility:     hidden;
    opacity:        0;
}


.colorControlRange
{
    display:        block;
    position:       absolute;
    pointer-events: none;
    z-index:        1000;
}
