#aboutBack
{
    display:          none;

    z-index:          10;
    
    position:         fixed;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    overflow:         auto;
    pointer-events:   all;

    background-color: #0005;
}



#aboutDialog
{
    display:       none;

    font-family:   Inter;

    z-index:       20;
    position:      absolute;
    top:           50%;
    left:          50%;
    transform:     translateX(-50%)
                   translateY(-50%);
    width:         280px;
    height:        168px;

    overflow:      hidden;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border:        0.5px solid rgba(0, 0, 0, 0.2);

    border-radius: 4px;
}


#aboutDialogContainer
{
    height:   calc(100% - 22px);
    overflow: hidden;
    padding:  0;
    z-index:  1;
    /* box-shadow: 0 0 0 1px red inset; */
}


#aboutDialogContent
{
    font-size: 12px;
    margin:    0;
    padding:   1px 0 5px 0;
    position:  absolute;
    pointer-events: all;
    user-select: text;
    /* box-shadow: 0 0 0 1px blue inset; */
}


.figma-light #aboutDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #aboutDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#aboutTitle
{
    position:       relative;
    height:         40px;
    border-bottom:  1px solid rgb(0, 0, 0, 0.15);
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
    background:     var(--figma-color-bg);
    z-index:        10;
}


#aboutTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);

    pointer-events: none;
    user-select:    none;
}


#aboutDialogBody
{
    padding-left: 30px;
    width:        250px;
    /* box-shadow:   0 0 0 1px inset yellow; */
}


#chkAboutHideWhatsNew
{
    display:  inline-block;
}


#aboutBrainshiftLogo
{
    display:   none;
    position:  absolute;
    left:      97px;
    top:       82px;
}


#aboutGeneratorLogo
{
    position: absolute;
    left:     30px;
    top:      48px;
}


#aboutLine
{
    position: absolute;
    left:     18px;
    top:      132px;
}


#aboutVersion
{
    font-weight: 300;
    font-size:   11px;
    display:     inline;
    position:    absolute;
    left:        100px;
    top:         44px;
}


#aboutCopyright
{
    font-weight: 300;
    font-size:   11px;
    display:     inline-block;
    width:       max-content;
    position:    absolute;
    left:        99px;
    top:         62px;
}


.figma-dark  #aboutVersion   { font-weight: 200; }
.figma-dark  #aboutCopyright { font-weight: 200; }

.figma-light #aboutVersion   { font-weight: 400; }
.figma-light #aboutCopyright { font-weight: 400; }


#aboutUserId
{
    font-size:      11px;
    text-align:     center;

    margin-top:     0px;
    margin-bottom:  12px;

    position:       absolute;
    
    left:           50%;
    transform:      translateX(-50%);

    top:            94px;

    width:          300px;

    user-select:    text;
    line-height:    1.4em;

    overflow:       visible;

    /* box-shadow:  0 0 0 1px green inset; */
}


#licenseInfo
{
    font-family:   'Inter';
    font-size:      11px;
    font-weight:    300;

    width:          350px;
    height:         auto;
    padding-top:    4px;
    padding-bottom: 0;

    margin-bottom:  -3px;

    background:     transparent;

    position:       absolute;
    left:           50%;
    transform:      translateX(-50%);
    top:            60px;


    pointer-events: none;

    text-align:     center;

    /* box-shadow:     0 0 0 1px red inset; */
}

.figma-dark  #licenseInfo { font-weight: 200; }
.figma-light #licenseInfo { font-weight: 400; }


