#deleteConnectionsDialog
{
    display:       none;

    font-family:   Inter, sans-serif;

    z-index:       2;
    position:      absolute;
    width:         400px;
    height:        92px;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border-radius: 4px;
}


.figma-light #deleteConnectionsDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #deleteConnectionsDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#deleteConnectionsTitle
{
    height:         40px;
    font-weight:    900;
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
}


#deleteConnectionsTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);
}


#deleteConnectionsLabel
{
    font-size:      11px;

    margin-top:     16px;
    margin-bottom:  12px;

    position:       relative;
    left:           17px;

    user-select:    text;
}


#deleteConnectionsInputBack
{
    font-size:       11px;
    color:           var(--figma-color-bg-disabled);
      
    width:           266px;
    height:          20px;
 
    padding-top:     6px;
    padding-bottom: -6px;

    margin-top:      12px;
    margin-bottom:  -3px;

    position:        absolute;
    left:            18px;
}


#deleteConnectionsInput
{
    background:     transparent;
    font-size:      11px;
      
    width:          278px;
    height:         26px;
 
    padding-left:   6px;
    padding-right:  6px;
    padding-top:   -2px;
    padding-bottom: 2px;

    margin-top:     12px;
    margin-bottom: -3px;

    position:       absolute;
    left:           12px;
}


#deleteConnectionsButton
{
    width:          60px;

    position:       absolute;
    right:          12px;
    transform:      translateY(-2px);

    margin-top:     11px;
}


