.menuButton
{
    display:       inline-block;
    font-family:   Inter, sans-serif;
    font-size:     11px;
    width:         42px;
    height:        30px;
    border-radius: 5px;
    min-width:     0;
    min-height:    0;
    border:        none;
    position:      relative;
    padding:       0;
    margin-top:    5px;
    margin-left:   2px;
    margin-right:  2px;
    color:         var(--figma-color-text);
    overflow:      hidden;
    cursor:        default;
    /* box-shadow:    0 0 0 1px red inset; */
}


.menuButtonIcon
{
    display:   inline-block;
    width:     30px;
    height:    40px;
    position:  relative;
    left:     -4px;
    top:      -5px;
    /* box-shadow: 0 0 0 1px yellow inset; */
}


.menuButtonArrow
{
    display:             inline-block;
    width:               12px;
    height:              40px;
    position:            relative;
    top:                -5px;
    /* transition:          0.25s; */
    /* box-shadow: 0 0 0 1px magenta inset; */
}