.paramName
{
    color:                 var(--figma-color-bg-disabled);
    font-family:           Inter;
    font-size:             11px;
    text-align:            right;
    font-style:            normal;
    font-weight:           normal;
    font-variant-numeric:  tabular-nums;
    letter-spacing:       -0.35px;
    pointer-events:        none;
    overflow:              hidden;
    width:                 100px;
    position:              absolute;
    top:                   4px;
    margin-right:          3px;
    box-shadow:            0 0 0 1px inset yellow;
}



.paramControls
{
    overflow:              hidden;
    width:                 100%;
    height:                auto;
    /* position:              absolute; */
    margin-right:          3px;
    box-shadow:            0 0 0 1px inset red;
}
