.paramDiv
{
    /* background-color: var(--figma-color-bg); */
    /* box-shadow: 0 0 0 1px inset cyan; */
    position:   relative;
}


.paramName
{
    font-family:           Inter;
    font-size:             11px;
    text-align:            right;
    font-style:            normal;
    font-weight:           normal;
    font-variant-numeric:  tabular-nums;
    letter-spacing:       -0.35px;
    pointer-events:        none;
    overflow:              hidden;
    width:                 100px;
    height:                auto;
    position:              absolute;
    top:                   4px;
    white-space:           nowrap;
    /* margin-right:          3px; */
    /* box-shadow:            0 0 0 1px inset yellow; */
}


.figma-light .paramName { color: #0006; }
.figma-dark  .paramName { color: #fff4; }


.paramControls
{
    overflow:     hidden;
    width:        100%;
    height:       100%;
    margin-right: 3px;
    position:     absolute;
    white-space:  nowrap;
    /* box-shadow:   0 0 0 3px inset green; */
}
