.node
{
    display:       block;
    position:      absolute;
    height:        auto;
    border-radius: 4px 4px 0 0;
    padding:       0;
}


.nodeInner
{
    display:       block;
    position:      relative;
    width:         100%;
    height:        auto;
    overflow:      hidden;
    border-radius: 4px 4px 0 0;
    padding:       0;
    box-shadow:    0 0 0 1px #0001;
}    


.nodeHeader
{
    background:    'magenta';
    display:       flex;
    width:         100%;
    position:      relative;
    border-radius: 4px 4px 0 0;
    z-index:       1;
}


.nodeParamBack
{
    display:    block;
    position:   absolute;
    width:      100%;
    height:     20;
    background: #fffe;
    z-index:    -1;
}


.nodeLabelWrapper
{
    position:   absolute;
    width:      100%;
    height:     100%;   
    /* box-shadow: 0 0 0 1px blue inset; */
}


.nodeLabel
{
    font-family:    Inter;
    font-size:      11;
    padding:        0;
    margin:         0;
    display:        block;
    width:          auto;
    height:         14;
    color:          black;
    text-align:     center;
    position:       absolute;
    left:           50%;
    top:            50%;
    transform:      translateX(-50%) 
                    translateY(calc(-50% - 0.5px));
    pointer-events: none;
    z-index:        10;
    white-space:    nowrap;
    /* box-shadow:     0 0 0 1px red inset; */
}


.nodeLabelTextbox
{
    font-family: Inter;
    font-size:   11;
}


.nodeLabelTextbox::selection
{
    background-color: white;
}
