.control
{
    /* box-shadow: 0 0 0 1px inset red; */
    overflow:   hidden;
    /* position:   absolute; */
    /* height:     auto; */
}


.figma-dark .control
{
    background-color: rgba(56, 56, 56, 0.95);
}


.figma-light .control
{
    background-color: rgba(255, 255, 255, 0.95);
}