.control
{
    /* box-shadow:       0 0 0 4px purple inset; */
    overflow:    hidden;
    /* width:            10; */
    /* position:   absolute; */
    /* height:     auto; */
}


/* .figma-dark .control
{
    background-color: rgba(56, 56, 56, 0.95);
}


.figma-light .control
{
    background-color: rgba(255, 255, 255, 0.95);
} */