@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) 
{
  html { font-family: 'Inter var', sans-serif; } 
}


body
{
    margin:           0;
    background-color: var(--figma-color-bg);/*#f4f4f4;*/
    user-select:      none;
    font-family:      Inter;

    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 

    overflow:         hidden;
}


.figma-light body { background: var(--figma-color-bg-secondary); }
.figma-dark  body { background: var(--figma-color-bg);           }


div
{
    margin:  0;
    padding: 0;
}