#snapshotBar
{
    display:      none;
    position:     absolute;
    bottom:       0;
    left:         0;
    width:        100%;
    height:       50px;
    row-gap:      4px;
    column-gap:   0px;
    outline:      1px solid #ffffff18;
    /* box-shadow:   0 0 0 1px red inset; */
}


.figma-light #snapshots { background-color: #eee;    }
.figma-dark  #snapshots { background-color: #292929; }


#snapshotThumbs
{
    position:    absolute;
    top:         0;
    white-space: nowrap;
    width:       auto;
    /* box-shadow:  0 0 0 1px orange inset; */
}


.snapshotThumbnail
{
    display:       inline-block;
    width:         50px;
    height:        50px;
    border-radius: 2px;
    /* box-shadow:    0 0 0 1px orange inset; */
}


.snapshotIcon
{
    display:       inline-block;
    width:         50px;
    height:        50px;
    /* box-shadow:    0 0 0 1px orange inset; */
}


.figma-light .snapshotThumbnail 
{ 
    background-color: #eee; 
}

.figma-dark .snapshotThumbnail 
{ 
    border-right: 1px solid #ffffff28;
}


.figma-lihgt .snapshotThumbnail:hover { background-color: #fff; }
.figma-dark  .snapshotThumbnail:hover { background-color: #111; }

.figma-lihgt .snapshotThumbnail:active { background-color: #eee; }
.figma-dark  .snapshotThumbnail:active { background-color: #000; }


.addSnapshot
{
    background:          url('data:image/svg+xml;utf8,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5 11H6L6 6H11V5H6L6 0H5L5 5H0V6H5L5 11Z" fill="white"/></svg>');
    background-position: 50% 50%;
    background-repeat:   no-repeat;
}


#snapshotClose
{
    position:            absolute;
    top:                 0;
    right:               0;
    width:               28px;
    height:              28px;
    background-image:    url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="keyboardCloseX" fill-rule="evenodd" clip-rule="evenodd" d="M16 15.293L20.6465 10.6465L21.3536 11.3536L16.7071 16.0001L21.3536 20.6465L20.6465 21.3536L16 16.7072L11.3536 21.3536L10.6465 20.6465L15.2929 16.0001L10.6465 11.3537L11.3536 10.6466L16 15.293Z" fill="%23777"/></svg>');
    background-position: 50% calc(50% - 1px);
    background-repeat:   no-repeat;
}


#snapshotClose:hover
{
    background-image:    url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="keyboardCloseX" fill-rule="evenodd" clip-rule="evenodd" d="M16 15.293L20.6465 10.6465L21.3536 11.3536L16.7071 16.0001L21.3536 20.6465L20.6465 21.3536L16 16.7072L11.3536 21.3536L10.6465 20.6465L15.2929 16.0001L10.6465 11.3537L11.3536 10.6466L16 15.293Z" fill="%23f6f6f6"/></svg>');
    background-position: 50% calc(50% - 1px);
    background-repeat:   no-repeat;
}