#ttColorblind
{
    width:        208px; 
    height:       322px;
    padding-left: 20px;
}


#ttMinValueZoom
{
    width: max(184px, auto);
}


#ttInterpolationSpace
{
    width:  219px;
    height: 233px;
}    


#ttWcag2
{
    width:  240px;
    height: 115px;
}    

.wcag2description
{
    text-align:       left;
    position:         absolute;
    top:              56px;
    transform:        rotateZ(-45deg);
    transform-origin: bottom left;
}


.wcag2value
{
    position:  absolute;
    top:       102px;
    transform: translateX(-50%);
}


#wcag2info
{
    position:  absolute;
    left:      50%;
    top:       120px;
    transform: translateX(-50%);
}


#wcag2info a
{
    color: #6eb8e9
}


#ttWcag3
{
    width:  240px;
    height: 103px;
}


.wcag3description
{
    text-align:       left;
    position:         absolute;
    top:              46px;
    transform:        rotateZ(-45deg);
    transform-origin: bottom left;
}


.wcag3value
{
    position:  absolute;
    top:       90px;
    transform: translateX(-50%);
}


#wcag3info
{
    position:  absolute;
    left:      50%;
    top:       100px;
    transform: translateX(-50%);
}


#wcag3info a
{
    color: #6eb8e9
}