#ttCreateColorblind
{
    width:  200px; 
    height: 310px;
}


#ttInterpolationSpace
{
    width:  200px;
    height: 178px;
}


#ttWcag2
{
    width:  240px;
    height: 160px;
}



.wcag2description
{
    text-align:       left;
    position:         absolute;
    top:              78px;
    transform:        rotateZ(-45deg);
    transform-origin: bottom left;
}


.wcag2value
{
    position:  absolute;
    top:       117px;
    transform: translateX(-50%);
}


#wcag2info
{
    position:  absolute;
    left:      50%;
    top:       144px;
    transform: translateX(-50%);
}


#wcag2info a
{
    color: #6eb8e9
}


#ttWcag3
{
    width:  240px;
    height: 140px;
}


.wcag3description
{
    text-align:       left;
    position:         absolute;
    top:              58px;
    transform:        rotateZ(-45deg);
    transform-origin: bottom left;
}


.wcag3value
{
    position:  absolute;
    top:       97px;
    transform: translateX(-50%);
}


#wcag3info
{
    position:  absolute;
    left:      50%;
    top:       124px;
    transform: translateX(-50%);
}


#wcag3info a
{
    color: #6eb8e9
}