#ttColorblind
{
    width:        208px; 
    height:       300px;
    padding-left: 20px;
}


#ttInterpolationSpace
{
    width:  219px;
    height: 221px;
}


#ttWcag2
{
    width:  240px;
    height: 115px;
}

#ttMinValueZoom
{
    width: max(184px, auto);
}


.wcag2description
{
    text-align:       left;
    position:         absolute;
    top:              70px;
    transform:        rotateZ(-45deg);
    transform-origin: bottom left;
}


.wcag2value
{
    position:  absolute;
    top:       109px;
    transform: translateX(-50%);
}


#wcag2info
{
    position:  absolute;
    left:      50%;
    top:       130px;
    transform: translateX(-50%);
}


#wcag2info a
{
    color: #6eb8e9
}


#ttWcag3
{
    width:  240px;
    height: 115px;
}


.wcag3description
{
    text-align:       left;
    position:         absolute;
    top:              62px;
    transform:        rotateZ(-45deg);
    transform-origin: bottom left;
}


.wcag3value
{
    position:  absolute;
    top:       101px;
    transform: translateX(-50%);
}


#wcag3info
{
    position:  absolute;
    left:      50%;
    top:       124px;
    transform: translateX(-50%);
}


#wcag3info a
{
    color: #6eb8e9
}