#selectBox
{
    outline:          1pt solid var(--figma-color-bg-brand);
    background-color: #18A0FB20;
    pointer-events:   none;
    margin:           0;
    padding:          0;
    position:         absolute;
    visibility:       hidden;
}


.scrollbar
{
    border-radius:    3px;
    position:         absolute;
    display:          none;
}



#scrollbarX
{
    height: 6px;
}


#scrollbarY
{
    width: 6px;
}


.figma-light .scrollbar 
{ 
    background-color: #0004;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25); 
}

.figma-dark .scrollbar 
{ 
    background-color: #0006;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25); 
}


input[type=text]
{
    color:      var(--figma-color-text);
    background: var(--figma-color-bg);
}


input[type=text]:hover
{
    box-shadow: 0 0 0 1px var(--figma-color-bg-tertiary);
}


input[type=text]:focus
{
    box-shadow: 0 0 0 2px var(--figma-color-bg-brand);
    outline: none;
}


input[type=text]::selection
{
    color:            var(--figma-color-bg-inverse);
    background-color: var(--figma-color-border-brand);
}


a
{
    color: var(--figma-color-text-brand);
}