#selectBox
{
    outline:          1pt solid var(--figma-color-bg-brand);
    background-color: #18A0FB20;
    pointer-events:   none;
    margin:           0;
    padding:          0;
    position:         absolute;
    visibility:       hidden;
}


#scrollbarX
{
    background-color: var(--figma-color-text-tertiary);
    height:           6px;
    border-radius:    3px;
    position:         absolute;
    display:          none;
    /* box-shadow:       0 0 0 1px rgba(255, 255, 255, 0.25); */
}


#scrollbarY
{
    background-color: var(--figma-color-text-tertiary);
    width:            6px;
    border-radius:    3px;
    position:         absolute;
    display:          none;
    /* box-shadow:       0 0 0 1px rgba(255, 255, 255, 0.25); */
}


.figma-light #scrollbarX { box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25); }
.figma-dark  #scrollbarX { box-shadow: 0 0 0 1px rgba( 60,  60,  60, 0.25); }

.figma-light #scrollbarY { box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25); }
.figma-dark  #scrollbarY { box-shadow: 0 0 0 1px rgba( 60,  60,  60, 0.25); }



input[type=text]
{
    color:      var(--figma-color-text);
    background: var(--figma-color-bg);
}


input[type=text]:hover
{
    box-shadow: 0 0 0 1px var(--figma-color-bg-tertiary);
}


input[type=text]:focus
{
    box-shadow: 0 0 0 2px var(--figma-color-bg-brand);
    outline: none;
}


input[type=text]::selection
{
    color:            var(--figma-color-bg-inverse);
    background-color: var(--figma-color-border-brand);
}


a
{
    color: var(--figma-color-text-brand);
}