#whatsNewBack
{
    display:          none;

    z-index:          1000;
    
    position:         fixed;
    left:             0;
    top:              0;
    width:            100%;
    height:           100%;
    overflow:         auto;
    pointer-events:   all;

    background-color: #0005;
}



#whatsNewDialog
{
    display:       none;

    font-family:   Inter, sans-serif;

    z-index:       1002;
    position:      absolute;
    top:           58px;
    left:          calc(50%);
    transform:     translateX(-50%);
    width:         600px;
    height:        calc(100% - 80px);

    overflow:      hidden;
    
    color:         var(--figma-color-text);
    background:    var(--figma-color-bg);
    
    border:        0.5px solid rgba(0, 0, 0, 0.2);

    border-radius: 4px;
}


#whatsNewDialogContainer
{
    height:   calc(100% - 42px);
    overflow: hidden;
    padding:  0;
    z-index:  1;
    /* box-shadow: 0 0 0 1px red inset; */
}


#whatsNewDialogContent
{
    font-size:      12px;
    margin:         0;
    padding:        1px 0 5px 0;
    position:       absolute;
    pointer-events: all;
    user-select:    text;
    /* box-shadow:  0 0 0 1px blue inset; */
}


.figma-light #whatsNewDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.15),
                0px 5px 17px rgba(0, 0, 0, 0.15);
}


.figma-dark #whatsNewDialog
{
    box-shadow: 0px 2px  7px rgba(0, 0, 0, 0.45),
                0px 5px 25px rgba(0, 0, 0, 0.45),
                0 0px 2px 0px #fff3 inset;
}


#whatsNewWatermark
{
    position:       absolute;
    left:           50%;
    top:            50%;
    transform:      translateX(-41%)
                    translateY(-34%);
    font-size:      800px;
    font-weight:    600;
    white-space:    nowrap;
    color:          var(--figma-color-bg-secondary);
    z-index:        -1;
    user-select:    none;
    pointer-events: none;
}



#whatsNewTitle
{
    position:       relative;
    height:         40px;
    border-bottom:  1px solid rgb(0, 0, 0, 0.15);
    border-top:     1px solid var(--figma-color-bg-tertiary);
    border-bottom:  1px solid var(--figma-color-bg-tertiary);
    background:     var(--figma-color-bg);
    z-index:        10;
}


#whatsNewTitleText
{
    position:       absolute;
    left:           16px;
    top:            12px;
    
    font-style:     normal;
    font-weight:    600;
    font-size:      11px;
    line-height:    16px;
    
    display:        flex;
    align-items:    center;
    letter-spacing: 0.005em;
    
    color:          var(--figma-color-text);

    pointer-events: none;
    user-select:    none;
}


#whatsNewBody
{
    margin:  0 30px 0 30px;
}



#chkHideWhatsNew
{
    display:  inline-block;
}



#whatsNewScrollbarY
{
    width:   6px;
    z-index: 1;
    margin:  6px 0 18px 0;
    display: none;
}



